/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color: #ffffff;
  --primary-color: #4ea156;
  --secondary-color: #464e6d;
  --section-bg-color: #faf9fa;
  --custom-btn-bg-color: #f2cc8f;
  --custom-btn-bg-hover-color: #e07a5f;
  --dark-color: #000000;
  --p-color: #717275;
  --link-hover-color: #f2cc8f;

  --body-font-family: "DM Sans", sans-serif;

  --h1-font-size: 42px;
  --h2-font-size: 36px;
  --h3-font-size: 28px;
  --h4-font-size: 24px;
  --h5-font-size: 22px;
  --h6-font-size: 20px;
  --p-font-size: 18px;
  --menu-font-size: 16px;
  --btn-font-size: 14px;

  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

body {
  overflow-x: hidden;
  background-color: var(--section-bg-color);
  font-family: var(--body-font-family);
}

::-webkit-scrollbar {
  display: none;
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-medium);
  letter-spacing: -1px;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-bg {
  background-color: var(--primary-color);
}

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-overlay {
  content: "";
  background: rgba(0, 0, 0, 0)
    linear-gradient(rgba(39, 48, 83, 0.01) 0%, rgb(39, 48, 83) 100%) repeat
    scroll 0% 0%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.banner-slideshow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 90vh;
  /* width: 100vw; */
  /* max-width: 100vw; */
  min-height: 670px;
}

::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/*---------------------------------------
  ANIMATED HEADLINE               
-----------------------------------------*/
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  color: var(--link-hover-color);
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.no-js .cd-words-wrapper b {
  opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

.cd-headline.rotate-1 .cd-words-wrapper {
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  perspective: 300px;
}
.cd-headline.rotate-1 b {
  opacity: 0;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.cd-headline.rotate-1 b.is-visible {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-animation: cd-rotate-1-in 1.2s;
  -moz-animation: cd-rotate-1-in 1.2s;
  animation: cd-rotate-1-in 1.2s;
}
.cd-headline.rotate-1 b.is-hidden {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-animation: cd-rotate-1-out 1.2s;
  -moz-animation: cd-rotate-1-out 1.2s;
  animation: cd-rotate-1-out 1.2s;
}

@-webkit-keyframes cd-rotate-1-in {
  0% {
    -webkit-transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    -webkit-transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(360deg);
    opacity: 1;
  }
}
@-moz-keyframes cd-rotate-1-in {
  0% {
    -moz-transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    -moz-transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    -moz-transform: rotateX(360deg);
    opacity: 1;
  }
}
@keyframes cd-rotate-1-in {
  0% {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    -webkit-transform: rotateX(120deg);
    -moz-transform: rotateX(120deg);
    -ms-transform: rotateX(120deg);
    -o-transform: rotateX(120deg);
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
    opacity: 1;
  }
}
@-webkit-keyframes cd-rotate-1-out {
  0% {
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    -webkit-transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(180deg);
    opacity: 0;
  }
}
@-moz-keyframes cd-rotate-1-out {
  0% {
    -moz-transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    -moz-transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    -moz-transform: rotateX(180deg);
    opacity: 0;
  }
}
@keyframes cd-rotate-1-out {
  0% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    -webkit-transform: rotateX(-40deg);
    -moz-transform: rotateX(-40deg);
    -ms-transform: rotateX(-40deg);
    -o-transform: rotateX(-40deg);
    transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: 0;
  }
}

/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: var(--custom-btn-bg-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  transition: all 0.3s;
  padding: 10px 20px;
}

.custom-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}

.custom-border-btn {
  background: transparent;
  border: 2px solid var(--custom-btn-bg-color);
  color: var(--custom-btn-bg-color);
}

.custom-border-btn:hover {
  background: var(--custom-btn-bg-color);
  border-color: transparent;
  color: var(--white-color);
}

.custom-btn-bg-white {
  border-color: var(--white-color);
  color: var(--white-color);
}

.custom-btn-group .link {
  color: var(--white-color);
  font-weight: var(--font-weight-medium);
}

.custom-btn-group .link:hover {
  color: var(--link-hover-color);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/

#header {
  background: var(--white-color);
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

/* .dropdown li a {
  color: #000000;
} */

.navbar-title {
  color: var(--secondary-color);
  display: block;
  font-size: 13px;
  line-height: normal;
  text-transform: uppercase;
}

.logo {
  width: 40px;
  height: auto;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #111; /* color navbar items*/
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: var(--primary-color);
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: var(--primary-color);
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #111111;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #111111;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: var(--primary);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: var(--primary);
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

.slides-parent {
  width: 100%;
  position: relative;
}

.slides-parent .slide-child {
  display: none;
}

.slides-parent .slide-child img {
  width: 100%;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slides-parent .navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slides-parent .navigation .prev,
.slides-parent .navigation .next {
  cursor: pointer;
  padding: 16px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  user-select: none;
  transition: 0.6s ease;
}

.slides .navigation .prev:hover,
.slides .navigation .next:hover {
  background: rgba(0, 0, 0, 1);
}

/*---------------------------------------
  HERO        
-----------------------------------------*/
.hero-section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100vh;
  min-height: 670px;
  margin-bottom: -90px;
  max-width: 100vw;
  overflow-x: hidden;
}

.hero-50 {
  height: auto;
  min-height: 540px;
  margin-bottom: -100px;
}

.hero-50 .container + svg {
  transform: rotate(180deg);
}

.hero-section .ratio {
  border-radius: var(--border-radius-medium);
  overflow: hidden;
}

.hero-section svg {
  position: absolute;
  right: 0;
  left: 0;
}

.hero-section > svg {
  top: 0;
}

.hero-section .container + svg {
  top: auto;
  bottom: -1px;
}

.hero-section .row {
  position: relative;
  z-index: 22;
}

/*---------------------------------------
  BACKGROUND IMAGE SECTION        
-----------------------------------------*/
.section-bg-image {
  background-image: url("../../images/frederik-rosar-NDSZcCfnsbY-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: -70px;
}

.section-bg-image .container + svg {
  transform: rotate(180deg);
  position: relative;
  bottom: 0px;
}

.section-bg-image-block {
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: var(--border-radius-medium);
  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: var(--border-radius-medium);
  padding: 50px;
}

.section-bg-image-block .input-group {
  background-color: var(--white-color);
  border-radius: var(--border-radius-large);
  padding: 10px 15px;
}

.section-bg-image-block .input-group-text {
  background-color: transparent;
  border: 0;
}

.section-bg-image-block input[type="email"] {
  border: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding-left: 0;
}

.section-bg-image-block button[type="submit"] {
  background-color: var(--primary-color);
  border: 0;
  border-radius: var(--border-radius-large) !important;
  color: var(--white-color);
  max-width: 150px;
}

/*---------------------------------------
  CUSTOM BLOCK              
-----------------------------------------*/
.custom-block {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  padding: 30px 20px;
}

.custom-block-bg {
  background: var(--white-color);
}

.custom-block-bg-2 {
  background: var(--custom-btn-bg-color);
}

.custom-block-date-wrap {
  background-color: var(--primary-color);
  border-radius: var(--border-radius-small);
  text-align: center;
  padding: 20px 30px;
}

.custom-block-date {
  font-size: var(--h1-font-size);
}

.custom-block-image-wrap {
  border-radius: var(--border-radius-small);
  position: relative;
  overflow: hidden;
}

.custom-block-image-wrap:hover .custom-block-image {
  transform: scale(1.2);
  opacity: 1;
  filter: brightness(50%);
}

.custom-block-image-wrap:hover .custom-block-icon {
  opacity: 1;
}

.custom-block-image {
  transition: all 0.3s;
}

.custom-block-image-wrap .custom-block-date-wrap,
.custom-block-image-wrap .custom-btn-wrap {
  position: absolute;
  bottom: 0;
}

.custom-block-image-wrap .custom-block-date-wrap {
  border-radius: 0;
  left: 0;
  width: 50%;
  padding: 12.3px 20px;
}

.custom-block-image-wrap .custom-btn-wrap {
  right: 0;
  width: 50%;
}

.custom-block-image-wrap .custom-btn {
  border-radius: 0;
  display: block;
  padding: 15px 20px;
}

.custom-block-info {
  padding-top: 10px;
}

.custom-block-image-wrap + .custom-block-info {
  padding-top: 20px;
}

.custom-block-span {
  color: var(--secondary-color);
  font-weight: var(--font-weight-bold);
  min-width: 110px;
  margin-right: 10px;
}

.custom-block-icon {
  background: var(--custom-btn-bg-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: var(--h3-font-size);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s;
}

.custom-block-icon:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}

/*---------------------------------------
  EVENTS SECTION            
-----------------------------------------*/

.events-listing-section {
  margin-bottom: 100px;
}

.events-detail-section .custom-block-info {
  padding: 40px 60px;
}

.events-detail-info {
  background-color: var(--section-bg-color);
  border-radius: var(--border-radius-medium);
  padding: 50px 25px;
}

.events-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-medium);
}

/*---------------------------------------
  CONTACT               
-----------------------------------------*/

.contact-form .form-floating > textarea {
  border-radius: var(--border-radius-medium);
  height: 120px;
}

.contact-info {
  position: relative;
}

.contact-info-item {
  background: var(--secondary-color);
  border-radius: var(--border-radius-medium);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.contact-info-body {
  padding: 20px 30px;
}

.contact-info-body strong,
.contact-info-item a {
  color: var(--white-color);
}

.contact-info-footer {
  background-color: var(--custom-btn-bg-hover-color);
  padding: 10px 20px;
  transition: all 0.3s;
}

.contact-info-footer:hover {
  background-color: var(--custom-btn-bg-color);
}

.contact-info-footer a {
  display: block;
  font-weight: var(--font-weight-bold);
}

/*---------------------------------------
  FOOTER SECTION            
-----------------------------------------*/
.footer-section {
  height: 100vh;
  position: relative;
  padding: 250px 0;
}

.footer-section .container {
  position: relative;
  z-index: 2;
}

.footer-section svg {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}

.footer-section h3 {
  font-size: var(--h5-font-size);
  margin-bottom: 30px;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section h2,
.footer-section h3,
.footer-section ul li a {
  color: var(--white-color);
}

/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control {
  border-radius: var(--border-radius-large);
  border-width: 2px;
  box-shadow: none;
  color: var(--p-color);
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 20px;
  outline: none;
}

.custom-form .form-control:focus,
.custom-form .form-control:hover {
  border-color: var(--dark-color);
}

.form-floating > label {
  padding-left: 20px;
}

.custom-form button[type="submit"] {
  background: var(--custom-btn-bg-color);
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-medium);
  transition: all 0.3s;
  margin-bottom: 0;
  padding-left: 10px;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
}

.header-form {
  position: relative;
}

.header-form .form-control {
  padding-left: 42px;
}

.header-form-icon {
  width: 24px;
  position: absolute;
  top: 0;
  margin: 12px;
  margin-left: 15px;
}

/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  background: var(--secondary-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  display: block;
  margin-right: 5px;
  text-align: center;
  width: 32px;
  height: 32px;
  line-height: 33px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 991px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .hero-section {
    position: relative;
    top: 82px;
    margin-bottom: 82px;
  }

  .events-listing-section {
    margin-bottom: 50px;
  }

  .events-detail-section .custom-block-info {
    padding: 40px;
  }

  .events-detail-info {
    padding: 35px 25px;
  }

  .contact-info-item {
    width: 60%;
  }

  .events-detail-section .contact-info-item {
    width: 70%;
  }

  .section-bg-image {
    margin-bottom: 0;
  }

  .section-bg-image-block {
    padding: 30px;
  }
}

@media screen and (max-width: 480px) {
  .navbar-brand {
    font-size: var(--p-font-size);
  }

  .navbar-brand-icon {
    width: 30px;
    height: 30px;
  }

  .navbar-brand-icon::after {
    top: 5px;
  }

  .section-bg-image-block {
    padding: 30px;
  }

  .contact-info-item {
    width: 72%;
  }
}

@media screen and (max-width: 360px) {
  .custom-btn {
    font-size: 12px;
    padding: 4px 12px;
  }
}

.sections-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media {
  background: white;
  padding: 10px 20px;
  background-color: var(--white-color);
  width: auto;
  border-radius: 0.8rem;
}

.visitor {
  background: white;
  padding: 10px 20px;
  background-color: var(--white-color);
  width: auto;
  border-radius: 0.8rem;
}

/*==============================================
07. Float Navigasi
================================================*/
/* SOCIAL PANEL CSS */
.visitor-panel-container {
  position: fixed;
  bottom: 100px;
  transform: translateX(-300px);
  transition: transform 0.4s ease-in-out;
  color: #000;
  z-index: 999;
}

.visitor-panel-container.visible {
  transform: translateX(10px);
}

.visitor-panel {
  background-color: var(--white-color);
  position: relative;
  max-width: calc(100% - 10px);
  width: 300px;
  border: 2px solid var(--secondary-color);
}

.visitor-panel button.close-btn {
  border: 0;
  color: #97a5ce;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.visitor-panel button.close-btn:focus {
  outline: none;
}

.visitor-panel small {
  font-size: 10px;
}

.visitor-panel medium {
  font-size: 16px;
}

.fixed-container {
  position: fixed;
  bottom: 2rem;
  z-index: 1;
}

.banner-slideshow > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  animation: slide 25s infinite;
  opacity: 0;
}
.banner-slideshow > div:nth-child(2) {
  animation-delay: 5s;
}
.banner-slideshow > div:nth-child(3) {
  animation-delay: 10s;
}
.banner-slideshow > div:nth-child(4) {
  animation-delay: 15s;
}
.banner-slideshow > div:nth-child(5) {
  animation-delay: 20s;
}
.banner-slideshow > div:nth-child(5) {
  animation-delay: 20s;
}

@keyframes slide {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    transform: scale(1.1);
  }
}

#services .owl-carousel {
  position: relative;
}

#services .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: -70px;
  right: 70px;
  transition: 0.5s;
  background: var(--secondary-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 36px;
  transition: background 0.2s, color 0.2s;
}

#services .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: -70px;
  right: 20px;
  background: var(--secondary-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 33px;
  transition: background 0.2s, color 0.2s;
}
#services .owl-carousel .owl-nav .owl-prev:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

#services .owl-carousel .owl-nav .owl-next:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

#services .card {
  position: relative;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#services .card .content {
  position: relative;
  width: 90%;
  min-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

#services .card .content .contentBx h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 1rem 0;
  line-height: 1.1em;
}

#services .card:hover .content {
  transform: translateY(-60px);
}

#services .card .content .imgBx {
  position: relative;
  width: 200px;
  height: 100px;
  overflow: hidden;
}

#services .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  max-width: 200px;
  width: 200px;
  object-fit: contain;
}

#services .card .sci {
  position: absolute;
  bottom: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#services .card .sci small,
#services .card .sci a {
  transform: translateY(10px);
  transition: 0.5s;
  opacity: 0;
}

#services .card:hover .sci small,
#services .card:hover .sci a {
  transform: translateY(0px);
  opacity: 1;
}

/*---------------------------------------
  ABOUT              
-----------------------------------------*/
.about-section .custom-text-block {
  background: var(--secondary-color);
  height: 40vh;
}

.about-image-wrap {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.about-image-border-radius {
  border-radius: var(--border-radius-medium);
}

.about-image {
  display: block;
  object-fit: cover;
  height: 40vh;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: var(--secondary-color);
}

.fp-watermark {
  display: none;
}

/*---------------------------------------
  SITE HEADER              
-----------------------------------------*/
.site-header {
  /* background-image: url("../../images/anna-rosar-ZxFyVBHMK-c-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover; */
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
}

.site-header h1 {
  color: var(--dark-color);
}

.site-header-detail {
  /* background-image: url("../../images/anna-rosar-ZxFyVBHMK-c-unsplash.jpg"); */
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
  height: 20px;
}

nav[aria-label="breadcrumb"] {
  background: var(--white-color);
  border-radius: var(--border-radius-large);
  display: inline-block;
  padding: 7px 16px 3px 16px;
}

.breadcrumb {
  margin-bottom: 0;
}

.text-justify {
  text-align: justify;
}

.otp-field input::-webkit-inner-spin-button,
.otp-field input::-webkit-outer-spin-button {
  display: none;
}

.otp-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.otp-field input {
  height: 3.5rem;
  width: 3.25rem;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  outline: none;
  font-size: 2rem;
  text-align: center;
  border: 1px solid #ddd;
}

.media-modal .modal-dialog .modal-content,
.media-modal .modal-dialog .modal-header {
  background: none;
  border: 0;
}

.files-list {
  /* border: 1px solid var(--p-color); */
  background-color: var(--white-color);
}

.files-list:hover {
  background-color: var(--primary-color);
}

.files-list:hover p {
  color: var(--white-color);
}

.files-list p {
  font-size: 15px;
}

.files-list .events-title {
  font-size: 1.4rem;
}
